
<div>
	<h3>Update page</h3>
	<%= link_to("back to home",pages_path() , :class=>"btn btn-info") %>
	
	<%= form_for(@page , :url=>page_path(@page) , :method=>'patch') do |f| %>
		
		<%= render(:partial => 'form',:locals => {:f => f}) %>

					<select name="page[subject_id]" id="page_subject_id"  class="form-control" >
						<% @pages.each do |p|  %>
							<option value="<%= p.subject.id %>"  <%= p.subject.id == @page.subject_id ? 'selected' : '' %> ><%= p.subject.name %></option>
						<%end%>
					</select>
				</td>
			</tr>	
			<tr>
				<td colspan="2"><%= f.submit("Update Page",:class=>"btn btn-success") %></td>
			</tr>		
		</table>
	<%end%>


</div>