
<div>
	<h3>
		home
	</h3>
	<%= link_to('Add new page',{:controller=>"pages" , :action=>"new"} , :class=>"btn btn-info" ) %>
	<br>
	<table class="table table-bordered table-striped" >
		<thead>
			<th>position</th>
			<th>name</th>
			<th>visible</th>
			<th>subject belongs to</th>
			<th>permalink</th>
			<th>action</th>
		</thead>
		<tbody>
			<% @pages.each do |page|%>
			<tr>
				<td><%= page.position %></td>
				<td><%= page.name %></td>
				<td><%= page.visible ? 'Yes' : 'No'%></td>
				<td><%= page.subject.name %></td>
				<td><%= page.permalink %></td>
				<td>
					<%= link_to('show',{:controller=>"Pages",:action=>"show",:id=>page.id},:class=>"btn btn-success btn-sm") %> 
					<%= link_to('edit',{:controller=>"Pages",:action=>"edit",:id=>page.id},:class=>"btn btn-warning btn-sm") %> 
					<%= link_to('delete',{:controller=>"Pages",:action=>"delete",:id=>page.id},:class=>"btn btn-danger btn-sm") %>
				</td>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>
