
<div>
	<h3>Add page</h3>
	<%= link_to("back to home",pages_path() , :class=>"btn btn-info") %>
	
	<%= form_for(@page , :url=>pages_path() , :method=>'post') do |f| %>
		
			<%= render(:partial => 'form',:locals => {:f => f }) %>
					<select name="page[subject_id]" id="page_subject_id" class="form-control"  >
						<% @pages.each do |p|  %>
							<option value="<%= p.subject.id %>" ><%= p.subject.name %></option>
						<%end%>
					</select>
				</td>
			</tr>	
			<tr>
				<td colspan="2"><%= f.submit("Create Page",:class=>"btn btn-success") %></td>
			</tr>		
		</table>
	<%end%>


</div>