

<div>
    <h1>Subjects</h1>
    <%= link_to("Add new Subject" ,{:controller => 'subject',:action => 'new'})  %>


 

    <table width="100%" border="1">
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Visible</th>
            <th> Pages </th>
            <th>Action</th>
        </tr>
        <% i = 1 %>
        <% @subjects.each do |subject|  %>
            <tr>
                <td><%= subject.position %></td>
                <td><%= subject.name %></td>
                <td><%= subject.visible ? 'Yes' : 'No' %></td>
                <td><%= subject.pages.size %> </td>
                <td>
                    <!--<%= link_to('show',subject_path(subject.id),:class=>'action show') %>-->
                    <%= link_to('show',{:controller=>"subject",:action=>'show',:id=>subject.id},:class=>'action show') %>
                    <%= link_to('edit' , '#') %>
                    <%= link_to('delete','#')%>
                </td>
                <% i = i+1 %>
            </tr>
        <%end%>
    </table>

</div>